@tailwind base;
@tailwind components;
@tailwind utilities;
textarea {
    /* border: none; */
    /* outline: none; */
    width: 100%;
    resize: none;
    padding: 10px;
}
textarea:focus {
    box-shadow: none;
}
small {
    height: 1em; /* Ensure space is reserved for the error message */
    display: block;
}
